@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --weight-normal: 400;
  --weight-bold: 700; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  font-weight: var(--weight-normal);
  box-sizing: border-box; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.layout {
  background-color: var(--color-light-gray);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  width: var(--width-desktop);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 22%;
  height: 65%;
  border-radius: 1.2rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-white); }
  .card__image-box {
    padding: 0.8rem; }
    .card__image-box .qr {
      max-width: 100%;
      max-height: 100%;
      border-radius: 0.7rem; }
  .card__text {
    text-align: center; }
    .card__text__header {
      padding: 0 1rem; }
      .card__text__header span {
        color: var(--color-dark-blue);
        font-size: 1.4rem;
        font-weight: var(--weight-bold); }
    .card__text__description {
      padding: 0.7rem 1.2rem; }
      .card__text__description span {
        color: var(--color-grayish-blue); }

@media screen and (max-width: 376px) {
  .layout {
    width: 100vw;
    height: 100vh; }
  .card {
    width: 80%;
    height: 80%; } }
